.clock {
    background: gray url(/clock.png) no-repeat center;
    height: 20em;
    width: 20em;
    border-radius: 50%;
    background-size: 90%;
    position: relative;
    border:  4px solid red;
}